<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WeCare</title>
    <link rel="icon" type="image/x-icon" href="/img/icon.ico" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/waterfall.css">
</head>
<body>
<div id="header">
    <h1>
        <a href="/">WeCare</a>
        <div class="fright menu-links">
            <a href="/">Campaigns</a>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/ngos">NGOs</a>
        </div>
        
    </h1>
    <div class="fclear"></div>
</div>
<div class="container">
    <h1 class="tbpadding10 tcenter">
        <%= campaign.name %> - <%= campaign.subTitle %>
    </h1>
    <div class="tbpadding10">
        <%= campaign.about %>
    </div>
    <div>
        <div>Mission &nbsp; : <span><%= campaign.mission %></span></div>
    </div>
</div>
<div class="footer">
    <div class="padding10">
        &copy;2015 WeCare.
    </div>
</div>

</body>
</html>