<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeCare</title>
    <link rel="icon" type="image/x-icon" href="/img/icon.ico" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/waterfall.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div id="header">
    <h1>
        <a href="/">WeCare</a>
        <div class="fright menu-links">
            <a href="/">Campaigns</a>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/ngos">NGOs</a>
        </div>
        
    </h1>
    <div class="fclear"></div>
</div>
<div class="container">
    <h1 class="tbpadding10 tcenter header">
        <%= ngo.name %> - <%= ngo.shortDesc %>
    </h1>
    <div class="tcenter subheader">
        <span class="created_at"><%= formatDate(ngo.metadata.joined) %></span>
    </div>
    <div class="tbpadding10">
        <%= ngo.about %>
    </div>
    <div>
    <div>Mission &nbsp; : <span><%= ngo.mission %></span></div>
    <%if (ngo.contact) { %>
            <div class="tbpadding10">
                <%if (ngo.contact.website) { %>
                    <span>
                        <a href="<%= ngo.contact.website %>">
                            <i class="social-icons fa fa-globe"></i>
                        </a>
                    </span>
                <% } %>
                <%if (ngo.contact.email) { %>
                    <span>
                        <a href="mailto:<%= ngo.contact.email %>">
                            <i class="social-icons fa fa-envelope"></i>
                        </a>
                    </span>
                <% } %>
                <%if (ngo.contact.tw_link) { %>
                    <span>
                        <a href="<%= ngo.contact.tw_link %>">
                            <i class="social-icons fa fa-twitter"></i>
                        </a>
                    </span>
                <% } %>
                <%if (ngo.contact.fb_link) { %>
                    <span>
                        <a href="<%= ngo.contact.fb_link %>">
                            <i class="social-icons fa fa-facebook-official"></i>
                        </a>
                    </span>
                <% } %>
            </div>
        <% } %>
    <div> 
        <div class="campaign-card-container">
        <% for(var i=0; i<ngo.campaigns.length; i++) { %>
            <div class="campaign-card">
                <a href='/campaign/<%= ngo.campaigns[i]._id %>'>
                    <img src='<%= ngo.campaigns[i].img %>' width="192"/>
                </a>
                <div class="campaign-meta">
                    <div class="campaign-name"><%= ngo.campaigns[i].name %></div>
                    <div class="shortDesc"><%= ngo.campaigns[i].shortDesc %></div>
                </div>
            
            </div>
        <% } %>
        </div>
    </div>

    </div>
</div>
<div class="footer">
    <div class="padding10">
        &copy;2015 WeCare.
    </div>
</div>

</body>
</html>